/* src/components/Footer.css */
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 0;
  }

  .background-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 10vw;
    background-repeat: repeat-x;
    background-position: bottom;
}
